*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(milkshake.png);
    background-size: cover;
    background-position: center; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
}
nav ul li a:hover{
    color:hotpink;
    transition: 0.5s;
}
nav a{
    text-decoration: none;
}
.content{
    position: absolute;
    top: 40%;
    left: 20%;
}
.about{
    height: 100vh;
    width: 100%;
    background-image: url(milkshake.png);
    background-size: cover;
    background-position: center; 
}
.main{
    width: 1000px;
    display: flex;
    margin: auto 0px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
img{
    padding: 10px;
    border-radius: 70%;
    margin-left: 25%;
    margin-top: 15%;
}
.about-text{
    margin-top: 15%;
    font-size: bold;
    text-transform: capitalize;
}
.about-text h2{
    font-family: 'Times New Roman';
    color: gold;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.about-text h4{
    font-family: sans-serif;
    margin: 10px;
    color: chartreuse;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.about-text p{
    font-family: arial;
    color: blanchedalmond;
    letter-spacing: 1px;
}
button{
    background-color: brown;
    color: aliceblue;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
}
button:hover{
    color: hotpink;
    transition: 0.5s;
}